{% extends 'base.html' %}
{% block content %}

<h3 style="display:flex; justify-content: center; align-items: center; text-align: center; min-height: 100vh;width:fit-content; font-family: fantasy;">Valid hash written!</h3>

<table style="display:flex; justify-content: center; align-items: center; text-align: center; min-height: 100vh;">
    <tbody>
        <tr>
            <th scope="row">Hash</th>
            <td><input style="width: 300px;" type="text" placeholder="@secret" value="{{ query.hash }}"></td>
        </tr>
        <tr>
            <th scope="row">SecretText</th>
            <td><input style="width: 300px;" type="text" placeholder="@secret" value="{{ query.secretText }}"></td>
        </tr>
        <tr>
            <th scope="row">ExpiresAt</th>
            <td><input style="width: 300px;" type="text" placeholder="@secret" value="{{ query.expiresAt }}"></td>
        </tr>
        <tr>
            <th scope="row">CreatedAt</th>
            <td><input style="width: 300px;" type="text" placeholder="@expireAfterViews" value="{{ query.createdAt }}"></td>
        </tr>
        <tr>
            <th scope="row">RemainingViews</th>
            <td><input style="width: 300px;" type="text" placeholder="@expireAfter"value="{{ query.remainingViews }}"></td>
        </tr>
    </tbody>
</table>
{% endblock %}